name: Auto Sync Fork

on:
  schedule:
    - cron: '*/5 * * * *'  # verifica a cada 5 minutos
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout fork
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Add upstream
        run: |
          git remote add upstream https://github.com/lanamaglioli/ingrydsl.git || true
          git fetch upstream

      - name: Check for updates
        id: check
        run: |
